@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes changement {
	0% {
		transform: rotate3d(1,0,0,0deg);
	}
	50% {
		transform: rotate3d(1,0,0,180deg);
	}
	100% {
		transform: rotate3d(1,0,0,180deg);
	}
}
@keyframes chronoPortableAnim {
	from {
		width: 0%;
		background: #00a300;
	}
	49% {
		background: #00a300;
	}
	50% {
		background: #cc6600;
	}
	79% {
		background: #cc6600;
	}
	80% {
		background: #cc0000;
	}
	to {
		width: 100%;
		background: #cc0000;
	}
}

@keyframes chronoShadow {
	from {
		box-shadow: 0px 0px 5px 0px white;
	}
	50% {
		box-shadow: 0px 0px 50px 10px white;
	}
	to {
		box-shadow: 0px 0px 5px 0px white;
	}
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(-45deg, #1d59fe, #0131b4);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
}

/* DÉBUT */

#menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: linear-gradient(-45deg, #02849b, #03224c);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	overflow: hidden;
	position: relative;
}

#illustration {
	position: relative;
	width: 30%;
}

#illustration img {
	position: absolute;
	top: 60%;
	width: 50%;
}

.cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11 {
	transform-origin: center;
	animation: rotation 20s linear infinite;
}

#menu article {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu .pdf {
	width: 100%;
	margin-bottom: 20px;
}

#menu #settings {
	position: absolute;
	width: 30%;
	height: 232px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#menu #settings > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#settings i {
	cursor: pointer;
}

#menu #sonDiv, #menu #expressDiv {
	width: 30%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-family: LexendM;
	font-size: 1.5rem;
}

#menu #express {
	transform: scale(1.5);
}

#menu button {
	width: 100%;
	font-size: 2rem;
	font-family: Agency_Gras;
	border: 3px solid white;
	background: black;
	color: white;
	transition: color 0.5s, background 0.5s, border-color 0.5s;
	padding: 10px 0;
	cursor: pointer;
}

#start a button {
	background: #03224c;
	border-color: white;
}

#menu button:hover {
	color: black;
	background: white;
	border-color: black;
}

#start a button:hover {
	color: #03224c;
	background: white;
	border-color: #03224c;
}

#menu button:not(button:last-child) {
	margin-bottom: 20px;
}

#menu #settings button {
	width: 30%;
	margin: 0 auto;
}

#start {
	width: 100%;
	display: flex;
	justify-content: center;
}

#start a {
	width: 100%;
	margin-right: 50px;
}

.aspiration {
	transform: scale(5);
	opacity: 0;
	border-radius: 50%;
	transition: all 4.5s;
}

.aspiration > article:last-child {
	display: none;
}

.cache {
	display: none;
}

/* PIVOT */

#pivot {
	transform-style: preserve-3d;
}

#pivot * {
	backface-visibility: hidden;
}

.rotation {
	transition: transform 1s;
	transform: rotate3d(0, 1, 0, 180deg);
}

#resultatSection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	transform: rotate3d(0, 1, 0, 180deg);
	background: linear-gradient(-45deg, #0131b4, #03224c);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
}

#resultatSection img {
	height: clamp(30px,4.5vw,76px);
	margin-left: clamp(5px,2vw,15px);
}

/* QUIZ */

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#question {
	height: 150px;
	width: 95%;
	background-color: black;
	color: white;
	margin: 1vh auto;
	font-family: LexendM;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 5px solid skyblue;
	border-radius: 25px;
	padding: 0 10px;
}

article h1 {
	font-size: clamp(2rem,2.5vw,2.5rem);
}

#answer {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}

article div[id*="rep"] {
	width: 45%;
	height: clamp(53px,6.5vw,85px);
	border: 5px solid skyblue;
	border-radius: 15px;
	background: black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 25px 0;
	padding-left: 10px;
	cursor: default;
}

article div[id*="rep"]:hover, #joker > button:hover {
	background: #ffff9e;
	color: black;
}
/*clamp(1.5rem,3vw,2.5rem)*/
article div[id*="rep"] > p:last-child {
	font-size: clamp(1rem,2vw,2rem);
	text-align: left;
	display: flex;
	align-items: center;
	transform-origin: left;
	max-width: 630px;
}

article div[id*="rep"]:hover > p {
	color: black;
}

article div[id*="rep"] > p {
	font-family: LexendR;
}

article p, article button {
	color: white;
	font-family: "DIN_Bold";
	font-size: clamp(1.25rem,2vw,1.7rem);
}

.lettre {
	color: #fd7e14;
	font-size: clamp(1rem,2vw,2rem);
	margin-right: 10px;
}

article#quiz {
	display: flex;
	justify-content: center;
	align-items: center;
}

#joker {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#joker > button {
	border-radius: 50%;
	border: 2px solid skyblue;
	background: black;
	width: clamp(98px,8vw,150px);
	height: clamp(43px,6vh,50px);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Agency_Black";
}

#joker > button:not(#joker > button:last-child) {
	margin-bottom: 20px;
}

	/* chrono ordi */

#chrono {
	border-radius: 125px;
	color: white;
	width: 250px;
	height: 250px;
	animation: chronoShadow 5s ease-in-out infinite;
	position: relative;
	overflow: hidden;
}

#chrono > #chronoBackground {
	background: radial-gradient(#555,#000);
	width: 100%;
	height: 100%;
/*	transform: rotateY(180deg);*/
/*	animation: chronoDesktopAnim 15s linear;*/
}

#chrono p {
	font-family: "Agency_Black";
	font-size: 5rem;
}

#chrono > #chronoBackground div {
	background-color: black;
	width: 75%;
	height: 75%;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

	/* chrono portable */

#chronoPortable {
	color: white;
	position: relative;
	width: 95%;
	height: clamp(28px,2vw,42px);
	border: 2px solid black;
	border-radius: 25px;
	margin: 0 auto;
	font-size: clamp(1.2rem,5vw,2.5rem);
	font-family: "Agency_Black";
	background: black;
}

#chronoProgress {
	height: 100%;
	position: relative;
	background: red;
	border-radius: 25px;
	mix-blend-mode: exclusion !important;
}

#chronoPortable > p {
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#pyramide {
	margin: auto;
	display: flex;
	flex-direction: column;
	border: 3px solid skyblue;
	border-radius: 5px;
	background: black;
	width: 300px;
	max-width: clamp(246px,35vw,300px);
}

#pyramide > div {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

#pyramide p:not(#palier p) {
	color: #ffc107;
}

#pyramide p {
	font-size: clamp(1.2rem,3vw,1.6rem);
	font-family: CopperplateR;
	display: inline;
}

.sousPyra {
	display: flex;
	align-items: center;
}

.sousPyra img {
	height: clamp(18px,3vw,25px);
	margin: 0 0 0 5px;
}

p.numQuestion {
	display: flex;
	align-items: center;
}

.fa-check {
	font-size: 1rem;
	margin-left: 7px;
}

.score {
	background: #ffc107;
	padding: 1px 5px;
}

#pyramide .score p {
	color: black !important;
	font-family: CopperplateG;
}

.score .cls-1 {
	fill: #ffc107;
}

#answer > div {
	backface-visibility: hidden;
	box-shadow: inset 0px 10px 27px -8px #141414;
	/*inset 3px 3px 10px black, inset -3px -3px 10px black*/
}

#answer > div.select, #joker > .select {
	transition: all 0.2s;
	background: #fd7e14;
	color: black;
}

#answer > div.select p, div.select span, #joker > .select {
	transition: all 0.2s;
	color: black;
}

#answer > div.correct {
	transition: all 0.2s;
	background: #5cb85c;
	transform: rotate3d(1,0,0,360deg);
	color: black;
}

#answer > div.correct p, div.correct span {
	transition: all 0.2s;
	color: black;
}

#joker > button.abandon {
	width: clamp(98px,8vw,150px);
	height: clamp(43px,6vh,50px);
	font-size: clamp(0.6rem,0.8vw,1rem);
	background: #fdf1b8;
	color: black;
	border-color: black;
}

#joker > button.abandon:hover {
	background: black;
	color: #fdf1b8;
	border-color: #fdf1b8;
}

	/* Aside Abandon */

#abandonAside {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
}

#abandonAside > article {
	width: 50%;
	height: 50%;
	background: #fdf1b8;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
}

#abandonAside h1, #abandonAside span {
	font-family: "Agency_Black";
	font-size: clamp(1.5rem,3vw,2.3rem);
}

#abandonAside #sommeBrut {
	width: 75%;
	background: skyblue;
	border: 5px solid black;
	border-radius: 10px;
}

#abandonAside span {
	font-size: clamp(2.3rem,3vw,3rem);
	padding: 10px 0;
	color: black;
}

#abandonAside img {
	height: clamp(32px,3vw,45px);
	margin-left: 7px;
}

#abandonAside div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#abandonAside div:last-child {
	justify-content: space-evenly;
}

#abandonAside button {
	font-size: clamp(1.5rem,3vw,2.7rem);
	padding: 15px;
	border: 2px solid;
	width: 150px;
}

#abandonAside button:first-child {
	background: black;
	border-color: black;
	transition: all 0.5s;
}

#abandonAside button:last-child {
	background: #4d0085;
	border-color: #4d0085;
	transition: all 0.5s;
}

#abandonAside button:first-child:hover {
	background: white;
	color: black;
}

#abandonAside button:last-child:hover {
	background: white;
	color: #4d0085;
}

	/* Page Résultat */

article#resultat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

article#resultat h1 {
	font-family: "Agency_Black";
	color: white;
}

#pointsNet {
	transform: scale(0.7);
}

article#resultat #sommeNet, #pointsNet {
	width: 75%;
	background: black;
	border: 7px solid skyblue;
	border-radius: 10px;
	margin: auto;
	padding: 10px 0;
}

article#resultat span {
	font-size: clamp(2.5rem,6vw,6rem);
	font-family: "Agency_Black";
	background: -webkit-linear-gradient(#b88b33 19.5%, #e8d3a4 45%, #b88b33 72.3%, #e8d3a4 92.7%, #b88b33);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#buttonMenu {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 1vh;
}

#buttonMenu button {
	cursor: pointer;
	font-family: "Agency_Gras";
	padding: clamp(2px,2vw,17px);
	border: clamp(2px,1vw,5px) solid #03224c;
	color: white;
	background: #03224c;
	transition: background 0.5s, color 0.5s;
	font-size: clamp(1rem,3vw,2rem);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#buttonMenu button:hover {
	background: white;
	color: #03224c;
}

.fleche {
	transition: margin-right 0.5s;
}

button:hover .fleche {
	margin-right: 30px;
}

	/* Tableau des Scores */

.btn-classement {
	margin-right: 30px;
}

#tabScoreAside {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
/*    display: flex;*/
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: none;
}
#tabScoreAside.cache {
	display: none;
}
#tabScoreAside .fa-times {
	position: absolute;
    padding: 2vh 2vw;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 50px;
    color: white;
    transition: transform 0.5s;
}
#tabScoreAside > #tabScore {
	background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
/*    width: 95vw;*/
/*    border-radius: clamp(50px,3vw,0px);*/
}
#tabScore > li {
	width: 100%;
    justify-content: space-between;
    padding: 0 1vw;
    font-size: clamp(25px,3vw,1000000px);
/*    border-radius: clamp(50px,3vw,0px);*/
    margin: auto;
    display: flex;
    align-items: center;
    font-family: LexendM;
}
#tabScoreAside > #itemLeft > p {
	overflow-wrap: break-word;
}

.affichageScore > .itemLeft {
	display: flex;
}

.rang {
	display: flex;
	align-items: center;
	width: clamp(50px,5.5vw,100px);
	margin-right: clamp(20px,2vw,25px);
}

.pseudo {
	margin-right: clamp(20px,6vw,100px);
}

li.premier{
	color: #C29B0C;
}
li.second {
	color: #a0a0a0;
}
li.troiz {
	color: #C49C48;
}

	/* Classe jQuery */

#joker > .used, #joker > .used:hover {
	background: red;
	color: black;
}

.stop {
	pointer-events: none;
}

@media all and (max-width: 1200px) {
	#buttonMenu {
		display: flex;
		flex-direction: column;
	}
	.btn-classement {
		margin-right: 0;
		margin-bottom: 32px;
	}
}

@media all and (max-width: 1157px) {
	#menu article {
		width: 50%;
	}
}

@media all and (max-width: 950px) {
	#chrono {
		transform: scale(0.7);
	}
	#abandonAside > article {
		width: 80%;
		height: 80%;
	}
}

@media all and (max-width: 768px) {
	#menu {
		flex-direction: column;
	}

	#illustration {
		width: 70%;
	}

	#menu div {
		flex-direction: column-reverse;
	}

	#menu div > :last-child {
		margin-bottom: 20px;
	}
}

@media all and (max-width: 756px) {
	#question {
		min-height: 94px;
	}

	#question > h1 {
		font-size: 1.2rem;
	}

	#answer {
		flex-direction: column;
	}

	#answer > div {
		width: 100%;
		margin: 0;
		margin-bottom: 5px;
		max-height: 60px;
		border-radius: 12px;
	}

	article div[id*="rep"] > p:last-child {
		font-size: 1rem;
	}

	#joker > button:hover {
		background: #fdf1b8;
		color: black;
		border-color: black;
	}

	#joker > button.abandon:hover {
		background: #fdf1b8;
		color: black;
		border-color: black;
	}

	article div[id*="rep"]:hover > p:first-child {
		color: #fd7e14;
	}

	article div[id*="rep"]:hover > p {
		color: white;
	}

	article div[id*="rep"]:hover, #joker > button:hover {
		background: black;
		color: white;
	}

	article#resultat #sommeNet, #pointsNet {
		width: 95%;
	}
}